body {
    font-family: Georgia, fantasy;
    text-align: center;
    padding: 20px;
    transition: background 0.3s, color 0.3s;
    background: #f8f9fa;
    color: #000000;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
    background: #da889a;
    color: white;
    border-radius: 5px;
}

button:hover {
    background: #da889a;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.pink-mode {
    background-color: #ffffff;
    color: rgb(255, 255, 255);
}

.pink-mode .container {
    background: #ffb5c5;
    box-shadow: 0 0 10px rgba(255, 166, 212, 0.1);
}
